init.author.name = John Smith
init.author.email = john.smith@my-org.com
# an email is required to publish npm packages
email=nmartins10@gmail.com

always-auth=true

# This is the registry to PULL from, so you likely want it to be npm-all to
# get access to all npm repos, rather than npm-internal (private repos only).
registry=http://142.93.47.221:8081/repository/npm-hosted/

# base64-encoding of the username-password pair for your Nexus Repository
# Example: echo -n 'npm-team:MySuperPass' | openssl base64
_auth=bnBtLXRlYW06TU9xeHk4NTch
